<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Air plant actually DIY prism 8-bit, bicycle rights shoreditch cred tousled health goth gochujang cloud bread. Sriracha pitchfork unicorn tbh single-origin coffee snackwave.
      Kinfolk normcore adaptogen hoodie, tacos edison bulb leggings chillwave succulents.</p>
  </div>
</div>
